@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-grey: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);
  --color-dim: hsl(254, 30%, 17%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;

}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url("../images/Sparks.png") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
  display: flex;
      flex-direction: column;
      height: 100vh; /* Make sure the column takes full height */
      padding-bottom: 20px; /* Add some padding at the bottom */
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}

.content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}

.content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.content ul li {
  display: flex;
}

.content ul i {
  font-size: 1.3rem;
}

.right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}

.right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.right__col nav ul li a {
  text-transform: uppercase;
  color: #1d1d1d;
}

.right__col nav button {
  background: #4a6070;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.right__col nav button:hover {
  opacity: 0.8;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

nav ul li a.active {
  border-bottom: 2px solid rgb(70, 70, 87);
  font-weight: bold;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .left__col {
    padding: 25px 0px;
  }

  .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }

  .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .left__col {
    margin: 0;
    margin-right: auto;
  }

  .right__col nav {
    flex-direction: row;
  }

  .right__col nav button {
    margin-top: 0;
  }
}
.btn {
  padding: 10px 10px;
  font-size: 16px;
  color: #373599;
  background-color: #7700ff25;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
  opacity: 0.8;
}

.left__col .btn {
  margin-top: 30px; /* Adjust this value to move the button further down */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 700px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  background: #fff;
}

/* Ensure the image fits within the modal */
.modal .photo img {
  width: 100%;
  height: auto;
}

 .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

 .feed .head {
  display: flex;
  justify-content: space-between;
}

 .feed .user {
  display: flex;
  gap: 1rem;
}

 .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem 0;
}

 .liked-by {
  display: flex;
}

 .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius:50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

 .liked-by span:first-child {
  margin: 0;
}

 .liked-by p {
  margin-left: 0.5rem;
}

.post-options {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  width: auto;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: var(--color-grey);
}

/* COMMENT */
.comment-input {
  margin-top: 10px;
}

.comment-input form {
  display: flex;
  justify-content: left; 
}

.input-wrapper {
  display: flex;
  padding: 2px;
  align-items: left; 
}

.comment-input input[type="text"] {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px; /* Sudut bulat kiri */
}

.comment-input button {
  padding: 2px 8px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0; /* Sudut bulat kanan */
  cursor: pointer;
}

.comment-input button:hover {
  opacity: 0.8;
}
.comments-list {
  margin-top: 5px;
  margin-left: 0;
}

.comment-toggle{
  cursor: pointer;
}
